.grid_background {
  background-image: url('/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  $card-margin: 15px;

  position: absolute;
  width: 285px;
  height: 155px;
  border-radius: 5px;

  color: white;

  background-size: cover;
  background-position: center;

  &--front {
    left: $card-margin;
    top: 125px;
    z-index: 2;

    background-image: url('/public/images/bg-card-front.png');
  }

  &--back {
    right: $card-margin;
    top: 2 * $card-margin;
    z-index: 1;

    background-image: url('/public/images/bg-card-back.png');
  }
}

.input-group {
  display: flex;
  flex-direction: column;

  &,
  input {
    width: 100%;
  }
}
