.grid_background {
  background-image: url('/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  position: absolute;
  width: 300px;
  height: 150px;
  border-radius: 10px;

  outline: 1px solid lime;
  color: white;

  background-size: cover;
  background-position: center;

  &--front {
    left: 20px;
    top: 100px;
    z-index: 2;

    background-image: url('/public/images/bg-card-front.png');
  }

  &--back {
    right: 20px;
    top: 20px;
    z-index: 1;

    background-image: url('/public/images/bg-card-back.png');
  }
}

.input-group {
  display: flex;
  flex-direction: column;

  &,
  input {
    width: 100%;
  }
}
