.grid_background {
  background-image: url('/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  $card-margin: 15px;

  position: absolute;
  width: 285px;
  height: 155px;
  border-radius: 5px;

  color: white;

  background-size: cover;
  background-position: center;

  &--front {
    left: $card-margin;
    top: 125px;
    z-index: 2;
    padding: 1rem;

    background-image: url('/public/images/bg-card-front.png');
  }

  &--back {
    right: $card-margin;
    top: 2 * $card-margin;
    z-index: 1;

    background-image: url('/public/images/bg-card-back.png');
  }

  font-size: var(--fs-200);
  letter-spacing: 1px;

  // positioning card elements
  &_logo {
    width: 55px;
  }

  &_number {
    margin-top: 35px;
    letter-spacing: 2.5px;
    font-size: var(--fs-400);
  }

  &_info {
    justify-content: space-between;
    margin-top: 10px;
  }

  &_cardholder {
    text-transform: uppercase;
  }

  &_cvc {
    position: absolute;
    top: 70px;
    right: 35px;
  }
}

.input-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  &,
  input {
    width: 100%;
  }

  label {
    margin-bottom: 5px;
    font-size: var(--fs-300);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 1px rgba($color: #000000, $alpha: 0.4);
  }

  input {
    padding: 8px 15px;
    border: 1px solid $Light-grayish-violet;
    border-radius: 8px;

    &::placeholder {
      color: $Light-grayish-violet;
    }
  }
}

form {
  .flex {
    gap: 10px;
    align-items: center;
  }
}

button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;

  color: $Light-grayish-violet;
  background-color: $Very-dark-violet;
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
