.flex {
  display: flex;
}

.grid {
  display: grid;
  grid: 240px 1fr / 1fr;

  &_background,
  &_card-preview {
    grid-area: 1 / 1 / 2 / 2;
  }

  &_background {
    z-index: 1;
  }

  &_card-preview {
    position: relative;
    justify-self: center;
    // this value use in media query
    // with background column width
    // for card positioning
    width: min(100%, 465.5px);
    z-index: 2;
  }

  &_form {
    width: min(86.67vw, 360px);
    padding-top: 90px;
    justify-self: center;
  }
}

.attribution {
  margin-top: 1.25rem;
}
