@media (min-width: $mq-break-point) {
  body {
    padding-top: max(0px, calc((100vh - 900px) / 2));
  }

  .grid {
    max-width: 1440px;
    height: min(900px, 100vh);
    margin-inline: auto;
    grid: 1fr / 480px 1fr;

    &_form,
    &_card-preview {
      align-self: center;
    }

    &_card-preview {
      justify-self: end;
    }

    &_form,
    .attribution {
      grid-area: 1 / 2 / 2 / 3;
    }

    .attribution {
      align-self: end;
      margin-top: 0;
    }
  }

  .card {
    width: 445px;
    height: 245px;

    &--front,
    &--back {
      position: unset;
      top: unset;
      left: unset;
      right: unset;
    }

    &--front {
      margin-left: clamp(0px, calc(84vw - $mq-break-point), 160px - 17.5px);
    }
    &--back {
      margin-top: 35px;
      margin-left: clamp(
        0px,
        calc((100vw - $mq-break-point) / 2),
        260px - 17.5px
      );
    }
  }
}
