@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --fs-200: 0.55rem;
  --fs-300: 0.67rem;
  --fs-400: 1rem;
  --fs-500: 1rem;
}

html {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
}
